h1 {
  font-weight: bold;
  color: brown;
  text-align: center;
}
h3 {
  font-weight: bolder;
  font-size: 25px;
  color: orange;
}
.testbox {
  border: 6px solid red;
  padding: 10px;
  margin: 50px;
  background-color: steelblue;
}
.about {
  text-align: end;
}
.projects {
  text-align: center;
}
.name {
  text-align: center;
}
.hobbies {
  text-align: justify;
}
@media (min-width: 480px) and (max-width: 767px) {
  body{
    backgound-color: black;
    color: white;
  }
}